.List__main

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Detail__card {
    background-color: #f9f9f9;
    width: 350px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    &-header {
        width: 100%;
        height: 120px;
        display: block;
        background-color: blueviolet;
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.383);

        &-img {
            border: 5px solid white;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
            background-color: white;
            height: 100px;
        }

        &-title {
            margin-top: 2rem;
            font-size: 1.8rem;

            span {
                color: var(--dark-gray);
                font-weight: 400;
            }
        }

        &-text {
            color: var(--dark-gray);
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }

    }

    &-footer {
        display: flex;
        justify-content: space-around;

        &-social {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;

            p {
                letter-spacing: 1px;
            }

        }

    }

}