.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Detail__main {
    height: 100vh;
    background: linear-gradient(to bottom right, #024, #402);
}
