.card {
    width: 100%;
    border-style: none;
    text-align: center;
    border-radius: 12%;
    box-shadow: 0 3px 15px rgba(100,100,100, 0.5);
    color: black;
}

.header{
    width: calc(100% - 10px);

    img{
        height: 100px;
    }
}