.Home {
    height: 100vh;
    background-image: url('https://cdn.dribbble.com/users/1771704/screenshots/5891354/shiny-charizard.gif'); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 700px;
    background-color: #252628;

    h1{
        color: white;
        text-align: center;

    }
}
