.Home {
    height: 100vh;
    background-image: url('https://cdn.dribbble.com/users/1771704/screenshots/5891354/shiny-charizard.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
    background-color: #252628;

    h1{
        color: white;
        text-align: center;
        padding-top: 100px ;
        font-family: 'Dancing Script', cursive;
        font-size: 62px;
    }

    a{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #D0003D;
        color: white;
        width: 130px;
        font-size: 22px;
    }
}

@media (max-width: 768px) { 
    .Home{
        background-size: 450px;
    }
}
