// Colores de los tipos de pokémons
.Grass {
    background-color: rgb(49, 218, 94);
}

.Fire {
    background-color: rgb(209, 71, 43);
}

.Water {
    background-color: rgb(48, 168, 207);
}

.Electric {
    background-color: rgb(235, 209, 38);
}

.Ice {
    background-color: rgb(38, 219, 235);
}

.Fighting {
    background-color: rgb(235, 104, 38);
}

.Poison {
    background-color: rgb(176, 38, 235);
}
.Ground {
    background-color: rgb(181, 131, 92);
}

.Flying {
    background-color: rgb(161, 215, 230);
}

.Psychic {
    background-color: rgb(219, 77, 207);
}

.Ghost {
    background-color: rgb(131, 24, 133);
}

.Bug {
    background-color: rgb(113, 209, 10);
}

.Rock {
    background-color: rgb(166, 87, 8);
}

.Dragon {
    background-color: rgb(50, 24, 217);
}

.Normal {
    background-color: rgb(168, 162, 157);
}

.Fairy {
    background-color: rgb(255, 148, 191);
}

.Dark{
    background-color: rgb(117, 101, 128);
}